.fontendLayout{
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
    "navbar"
    "body"
    "footer";
}

.navbar{
    grid-area: navbar;
}

.body{
    grid-area: body;
}

.footer{
    grid-area: footer;
}