/*********************************************/
/*******************goToNext******************/
/*********************************************/
.linkBtn {
  text-decoration: none;
  color: black;
}
.goToNext {
  padding: 0.5rem 0rem;
}
.goHere {
  width: 4rem;
  height: 4rem;
  margin: 0rem auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 20px black;
  transform: scale(1);
  transition: all 0.6s ease-in-out;
}
.goHere span {
  font-size: 1.6rem;
  transform: scale(1);
  transition: all 0.6s ease-in-out;
}

.goHere:hover {
  background: rgb(30, 178, 166);
  box-shadow: 0px 0px 20px 5px rgb(2, 121, 109);
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.goHere:hover span {
  color: white;
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
}
