:root {
  font-size: 16px;
}

.commentContainer {
  width: 90%;
  margin: 0px auto;
}
.firstStageReplyContainer {
  margin-left: 8%;
}
.secondStageReplyContainer {
  margin-left: 8%;
}

/* Media Query */
@media screen and (max-width: 991px) {
  .commentContainer {
    width: 100%;
  }
}
