:root {
  font-size: 16px;
}

.readMoreCommentContainer {
  padding: 06px 0rem;
}

.readMoreBtnContainer {
  width: 40%;
  margin: 0px auto;
}
.readMoreBtnContainer button {
  width: 100%;
  border: none;
  outline: none;
  overflow: none;
  font-weight: 500;
  padding: 06px 0rem;
  border-radius: 4px;
  background: white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.507);
}
.readMoreBtnContainer button:hover {
  color: white;
  background: rgb(30, 178, 166);
}
