/* BubblesAnimation.module.css */
.cloudsContainer {
  width: 100%;
  min-height: 90vh;
  position: relative;
  overflow: hidden;
}

.cloud {
  position: absolute;
  /* animation: moveBubble linear infinite; */
  animation: moveCloud linear infinite, fadeInOut 2s linear infinite alternate;
}

@keyframes moveBubble {
  from {
    transform: translateY(-150%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes fadeInOut {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1; /* Adjust the opacity as needed */
  }
}
