:root {
  font-size: 16px;
}
.customContainer {
  padding: 0.5rem 3rem 2.5rem 3rem;
  background: #f8f8f8;
}

.sectionImage {
  min-height: 600px;
  background: url('../../../assets/images/learnSection.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.cardDesign {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem 0rem;
}

.cardDesign .card {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 0px 20px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #000000cb;
  background: #FFF;
}

@media screen and (max-width : 991px){
  .card{
    margin-bottom: 0.4rem;
  }
  .card:last-child{
    margin-bottom : 0rem;
  }
}

.cardDesign .card:hover {
  background : rgb(66, 176, 166);
  color: white;
}

.cardDesign .card:hover .leftContentIcon {
  box-shadow: 0px 0px 4px 1px white;
  border-radius: 8px;
  transition: all 0.1s ease;
}

.leftContentIcon {
  width: 3.5rem;
  height: 3.5rem;
  padding: 10px;
}

.cardDesign .card .rightContent {
  padding: 0px 10px;
  border-radius: 8px;
}
