
/* Login Section */
.forget_section{
    width: 100%;
    height: 100%;
    min-height: 80vh;
    max-height: 700px;
    color: white;
    background: rgb(30, 178, 166);
    padding: 10px 20px;
}

/* Login Section  Top Icon*/
.top_icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-top: 0.5rem;
}
.top_icon i{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

/* Login Section >> Title Text*/
.title_text{
    text-align: center;
    margin-bottom: 16px;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Login Section >> input_box*/
.input_box{
    width: 100%;
    height: 40px;
    border: 2px solid white;
    position: relative;
    border-radius: 10px;
    margin-bottom: 16px;
}

.input_box input{
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0px 60px 0px 20px;
}

.input_box label{
    position: absolute;
    top: 50%;
    left: 10px;
    width: calc(100% - 20px);
    transform: translateY(-50%);
    font-weight: 600;
    pointer-events: none;
    font-size: 12px;
    background : transparent;
    border : 1px solid transparent;
    color : white;
}
.input_box input:focus ~ label,
.input_box input:valid ~ label{
    display: block;
    position: absolute;
    padding: 2px 20px;
    left: 10px;
    top: -2px;
    background: rgb(30, 178, 166);
    border-radius: 6px;
    border : 1px solid white;
}

.input_box .icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 12px;
}


/* Login Section >> send_btn*/
.send_btn{
    display: block;
    width: 90%;
    height: 40px;
    margin: 10px auto 5px auto; 
    border: none;
    outline: none;
    font-weight: bolder;
    border-radius: 20px;
    text-transform: uppercase;
    color: white;
    background-color: rgb(254, 153, 1);
    transition: all 0.4s ease;
}

.send_btn:hover{
    box-shadow: 0px 0px 10px white;
}


/* Login Section >> login_account*/
.login_account{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.login_account span{
    margin-left: 6px;
}


/* Link Management */
.forget_section span{
    text-decoration: none;
    color: white;
    opacity: 0.4;
    cursor: pointer;
}
.forget_section span:hover{
    text-decoration: underline !important;
    opacity: 1;
}





/****************/
/* Hover Effect */
/****************/
.forget_section:hover{
    background-color: rgb(30,178,166);
}
.forget_section:hover .input_box input:focus ~ label,
.forget_section:hover .input_box input:valid ~ label{
    background: rgb(30,178,166);
}